* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'exo 2', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 250px;
    border: 5px solid rgb(100, 100, 100);
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradiasasdsgsfdsent(285deg, rgba(0, 0, 0, 0.175) 50%, rgba(0, 0, 0, 0.1) 50%);
}

.clock:before {
    content: '';
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(92, 92, 92);
    border-radius: 50%;
}

.num {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 520;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    color: rgb(100, 100, 100);
}

.num:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background-color: rgb(100, 100, 100);
}

.num1 {
    transform: rotate(30deg);
}

.num1 div {
    transform: rotate(-30deg);
}

.num2 {
    transform: rotate(60deg);
}

.num2 div {
    transform: rotate(-60deg);
}

.num3 {
    transform: rotate(90deg);
}

.num3 div {
    transform: rotate(-90deg);
}

.num4 {
    transform: rotate(120deg);
}

.num4 div {
    transform: rotate(-120deg);
}

.num5 {
    transform: rotate(150deg);
}

.num5 div {
    transform: rotate(-150deg);
}

.num6 {
    transform: rotate(180deg);
}

.num6 div {
    transform: rotate(-180deg);
}

.num7 {
    transform: rotate(210deg);
}

.num7 div {
    transform: rotate(-210deg);
}

.num8 {
    transform: rotate(240deg);
}

.num8 div {
    transform: rotate(-240deg);
}

.num9 {
    transform: rotate(270deg);
}

.num9 div {
    transform: rotate(-270deg);
}

.num10 {
    transform: rotate(300deg);
}

.num10 div {
    transform: rotate(-300deg);
}

.num11 {
    transform: rotate(330deg);
}

.num11 div {
    transform: rotate(-330deg);
}

.hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hand div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    backgrousnd-color: rgb(0, 0, 0)
}

.sec {
    width: 1px;
    height: 60%;
    background-color: tomato;
}

.min {
    height: 32%;
    width: 5px;
    border-radius: 0px;
    background-color: rgb(92, 92, 92)
}

.hour {
    height: 25%;
    width: 10px;
    border-radius: 0px;
    background-color: rgb(92, 92, 92)
}